# Sample gitconfig
#

[hub]
  protocol = https
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  aa = add --all
  co = checkout
  ci = commit -v
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  promote = !$DOTFILES/bin/git-promote
  wtf     = !$DOTFILES/bin/git-wtf
  rank-contributers = !$DOTFILES/bin/git-rank-contributers
  count   = !git shortlog -sn
  lg      = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  ls = ls-tree -r --full-tree HEAD
  st = status
  patch = !git --no-pager diff --no-color
[apply]
  whitespace = nowarn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = code --wait
  ignorecase = false
  pager = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '
[commit]
  template = ~/.gitmessage
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = blue bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[difftool]
  prompt = false
[diff]
  colorMoved = zebra
[fetch]
  prune = true
[help]
  autocorrect = 1
[mergetool]
  keepBackup = false
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to surpress warning message
  default = simple
[rebase]
  autosquash = true

[include]
  path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
