sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink
system/hyper.js.symlink
cache/
log/
bin/elktail
bin/op
.multiuser
.vagrant
.spinner/
/*.log
osx/iterm.profile.plist
